/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #054034, #807e7e);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
}

/* Container for Form */
.container {
    background: white;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Form Title */
h2 {
    text-align: center;
    color: #333;
}

/* Labels */
label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 10px;
}

/* Input Fields */
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Textarea */
textarea {
    resize: vertical;
    height: 100px;
}

/* Submit Button */
button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color:#3498db ;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:  #2980b9;

}
